@use './base.scss' as *;

#app {
  margin: 0 auto;
  font-weight: normal;
  max-inline-size: var(--layout-desktop);
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
